html {
    position: relative;
    min-height: 100%;
}

body {
   margin-bottom: 60px;
}

.px-margin-20 {
    margin: 20px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #eee;
    
}

